<% include header.html.ejs %>
    <div id="edit-page-wrapper">
      <div id="content">
      <section>
        <form>
        <!--대표이미지-->
        <div id="leaderIMGHolder">
          <div>
          대표이미지
          </div>
        </div>
        <!--상품의 정보를 입력-->
        <div id="inputData">
          <table>
            <tr>
              <td><label class="mylabel" for="name">상품이름:</label></td>
              <td><input class="myInputText" id="name" type="text" name="itemName" autocomplete="off"></td>
            </tr>
            <tr>
              <td><label class="mylabel" for="category">카테고리:</label></td>
              <td><input class="myInputText" id="category" type="text" name="itemCategoty" autocomplete="off"></td>
            </tr>
            <tr>
              <td><label class="mylabel" for="price">상품가격:</label></td>
              <td><input class="myInputText" id="price" type="text" name="itemPrice" autocomplete="off"></td>
            </tr>
            <tr>
              <td><label class="mylabel" for="trade">거래방식:</label></td>
              <td><input class="myInputText" id="trade" type="text" name="itemTrade" autocomplete="off"></td>
            </tr>
          </table>
        </div>
        <!--업로드 한 상품 이미지 미리보기-->
        <div id="productIMGs" onwheel="scrollControl(event)">
          <div class="myholder"></div>
        </div>
        <!--이미지 올리기 버튼-->
        <div id="uploadButton">
          <!--일반 버튼을 뒤로 파일 버튼을 앞으로 동시에 두어서 파일버튼은 투명하게 만들어 일반버튼을
          누를때 파일이 올라가는 것처럼 변경-->
          <button id="imageButton" class="btn btn-secondary" type="button" name="button">이미지<br/>올리기</button>
          <input type="file" id="upload" title=" " name="itemIMG">
        </div>
          <!--상품 상세 설명-->
          <textarea id="textArea" name="itemExp" rows="8" cols="100">상세 설명 입력</textarea>

         <button id="submitButton" type="button">등록하기</button>
        </form>
      </section>
      </div>
    </div>
    <script>
    //이미지 미리보기 부분에서 마우스로 스크롤 이벤트를 발생할때 가로로 스크롤이 됨
    function scrollControl(event) {
      var xpos = event.deltaY;//변수에 마우스 휠 변회를 저장
      var itemIMGs = document.getElementById('productIMGs');
      itemIMGs.scrollLeft=itemIMGs.scrollLeft+xpos;//scrollLeft를 사용해 변경
    }
    //이미지등록 버튼을 눌러서 선택한 이미지를 미리보기에 보여주기
    var imgCount=0;//이미지가 올라갈때마다 카운터 증가
    var product = document.getElementById('productIMGs');
    var upload = document.getElementById('upload'),
        holder = document.getElementsByClassName('myholder');
    //edit페이지에서 수정하고자 하는 item의 id.
    var itemId = <%= id %>;
    //edit페이지에서 수정하고자 하는 item의 owner_id.
    var ownerId = <%- '"'+user.auth_id+'"' %>;
    //item 엔트리.
    let item;
    //item이 가지는 image 엔트리들.
    let itemImages = {};

    //item 엔트리 가져오기
    $.get('/item/'+itemId).done((data)=>{
      item = data[0];
      //input의 value값을 저장된 값으로 갱신.
      $('#name').val(item.item_name);
      $('#price').val(item.item_price);
      $('#trade').val(item.item_method);
      $('textArea').val(item["CONVERT(item_specific USING utf8)"]);
      //item에 해당하는 image 엔트리들 가져오기
      $.get('/item/'+itemId+'/image').done((data)=>{
        for(let i=0; i< data.length; i++){
          var node = document.createElement("Div");
          node.className="myholder";
          product.appendChild(node);
          itemImages[data[i].image_id] = data[i];
            //이미지를 만듬
          var img = new Image();
          img.src = data[i].thumb_micro_url;
          img.height = 60;
          img.width = 90;
          img.id = data[i].image_id;
          //이미지를 클릭할때 발생되는 이벤트 생성
          img.addEventListener('click',changeLeaderIMG);

          //삭제 버튼 만듬.
          let deleteImg = new Image();
          deleteImg.src = "/image/baseline_remove_circle_white_48dp.png"
          deleteImg.height = 18;
          deleteImg.width = 18;
          deleteImg.style.position = "relative";
          deleteImg.style.left = "-18px";
          deleteImg.style.top = "42px";

          //삭제 이벤트 리스너등록
          deleteImg.addEventListener('click',deleteImage);

             //이미지를 holder에 붙임
          holder[imgCount].innerHTML = '';
          holder[imgCount].appendChild(img);
          holder[imgCount].appendChild(deleteImg);
          imgCount = imgCount+1;
        }
        //정해진 메인 이미지가 있을시 매인 이미지도 보여주기
        if(item.item_main_image!=null){
          var Leaderholder = document.getElementById('leaderIMGHolder');
          //메인 이미지 홀더에 클릭한 이미지의 id를 받아와서 새로 만든 이미지 태크의 id로 지정하고 해당하는 이미지를 소스로 설정.
          var img = new Image();
          img.id=item.item_main_image;
          img.src = itemImages[item.item_main_image].thumb_url;
          img.height = 220;
          img.width = 330;
          Leaderholder.innerHTML = '';
          //이미지 태그를 지정한 곳에 붙임
          Leaderholder.appendChild(img);

        }
      }).fail(()=>{
        alert("상품 이미지 불러오기 실패");
        window.location.replace('/');
      });
    }).fail(()=>{
      alert("상품 데이터 불러오기 실패");
      window.location.replace('/');
    });


     //이미지 올리기 버튼을 눌러 파일 선택시 이벤트 발생
     //이때 서버로 이미지 업로드한다.
    upload.onchange = function (e) {
      e.preventDefault();
      var file = upload.files[0],
        reader = new FileReader();
      let formData = new FormData();
      formData.append("img",file,file.name);
      $.ajax({
        type:'POST',
        url:"/item/"+itemId+"/image",
        enctype:"multipart/form-data",
        data: formData,
        processData : false,
        contentType : false
      }).done((data)=>{
        itemImages[data.image_id] = data;
        //이미지 업로드 성공 따라서 이미지를 띄움.
        //다음번에 올라갈 div를 미리 만듬
        var node = document.createElement("Div");
        node.className="myholder";
        product.appendChild(node);

        //이미지 생성
        var img = new Image();
        img.src = data.thumb_micro_url;
        img.height = 60;
        img.width = 90;
        img.id=data.image_id;
        //이미지를 클릭할때 발생되는 이벤트 생성
        img.addEventListener('click',changeLeaderIMG);

        //삭제 버튼 만듬.
        let deleteImg = new Image();
        deleteImg.src = "/image/baseline_remove_circle_white_48dp.png"
        deleteImg.height = 18;
        deleteImg.width = 18;
        deleteImg.style.position = "relative";
        deleteImg.style.left = "-18px";
        deleteImg.style.top = "42px";
        //삭제 이벤트 리스너등록
        deleteImg.addEventListener('click',deleteImage);

         //이미지를 holder에 붙임
        holder[imgCount].innerHTML = '';
        holder[imgCount].appendChild(img);
        holder[imgCount].appendChild(deleteImg);
        imgCount = imgCount+1;
      }).fail(()=>{
        alert("이미지 업로드 실패");
      });
      return false;
    };
      //미리보기 이미지 클릭시 이벤트 발생
      function changeLeaderIMG(e) {
        var Leaderholder = document.getElementById('leaderIMGHolder');
        //메인 이미지 홀더에 클릭한 이미지의 id를 받아와서 새로 만든 이미지 태크의 id로 지정하고 해당하는 이미지를 소스로 설정.
        var img = new Image();
        img.id=e.target.id;
        img.src = itemImages[img.id].thumb_url;
        img.height = 220;
        img.width = 330;
        Leaderholder.innerHTML = '';
        //이미지 태그를 지정한 곳에 붙임
        Leaderholder.appendChild(img);
      }

      //등록하기 버튼 누르면 상품 업데이트 호출
      $('#submitButton').click(()=>{
        $.ajax({
          type:'PUT',
          url:"/item/"+itemId,
          data:JSON.stringify({
            item_name:$('#name').val(),
            item_method:$('#trade').val(),
            item_price:$('#price').val(),
            item_specific:$('#textArea').val(),
            item_main_image:$('#leaderIMGHolder').children()[0].id
          }),
          dataType: 'json',
          contentType:"application/json; charset=UTF-8"
        }).done(()=>{
          alert("상품이 업데이트 되었습니다");
          window.location.replace('/');
        }).fail(()=>{
          alert("상품 업데이트 실패");
        });
      });

      //이미지 삭제 메소드
      let deleteImage = (event)=>{
        $.ajax({
          type:"DELETE",
          url:"/item/"+itemId+"/image/"+event.target.parentNode.firstChild.id
        }).done(()=>{
          product.removeChild(event.target.parentNode);
          imgCount--;
          //메인 이미지에도 있으면 메인이미지도 삭제
          if(event.target.parentNode.firstChild.id===$("#leaderIMGHolder").children()[0].id){
            $("#leaderIMGHolder").children()[0].remove();
          }
        }).fail(()=>{
          alert("이미지 삭제 실패");
        });
      }
    </script>
<% include footer.html.ejs %>
