<!DOCTYPE html>
<html>
<head>
  <title>메인 페이지</title>
  <meta charset='utf-8'/>
  <style>
  *{
    padding: 0;
    margin: 0;
    font-family:sans-serif;
  }
  body{
    margin: 0 auto;
    width:960px;
    background-color: #c7c7c7;
  }
  #page-wrapper{
    background-color:white;
    margin: 30px;
    box-shadow: 1px 5px 4px black;
  }
  header{
    background-color: white;
  }
  .header-title{
    text-align: center;
    font-size: 30px;
  }
  nav{
    border:1px solid black;
  }

  </style>
</head>
<body>
  <div id=page-wrapper>
    <header>
      <h1 class=header-title>소셜인증 연습용 페이지</h1>
      <nav>
        <div class="form-group">
          <a href="/auth/login/kakao" class="btn btn-block btn-lg btn-warning btn_login">KaKao</a>
        </div>
      </nav>

    </header>

    <section>
      <form action='item/3/image' method='post' enctype="multipart/form-data">
        <input type="file" name='img'/>
        <input type="submit" value="제출"/>
      </form>
    </section>
  </div>
</body>
</html>
