<% include header.html.ejs %>
	<section class="container" style="margin-top: 80px;" id="main-page-wrapper">
		<div class="row" id="holder"></div>
		<button onclick="onPageDown()">이전 페이지</button>
		<button onclick="onPageUp()">다음 페이지</button>
	</section>
	<script>
	let page = 0;
	const loadList = ()=>{
			$('#holder').empty();
		$.get("/item",{
			item_price:'asc',
			item_time:'desc',
			start:page*6,
			count:6
		}).done((data)=>{
			$('#articleSection').empty();
			for(let i= 0;i<data.length;i++){
				let currentTime = new Date(data[i].item_time); //local시간으로 변환
				let dateSpan = $('<span class="reg-datetime">'+(data[i].item_state=='D'?"거래중":"판매중")+"&nbsp&nbsp"+currentTime.toString().substring(11,currentTime.toString().length-17)+'</span>');
				let userSpan = $('<span class="seller-name">'+"이름 로드실패"+'</span>');
				let interSpan = $('<span>|</span>');
				$.get("/user/"+data[i].owner_id).done((result)=>{
					let str = result[0].user_id;
					if(str.length>6){
						str = str.substring(0, 6);
						str+="..."
					}
					userSpan.html(str);
				});
				let firstDiv = $('<div class="selling-info"></div>');
				firstDiv.append(userSpan);
				firstDiv.append(interSpan);
				firstDiv.append(dateSpan);
				let priceSpan = $('<span class="item-price">'+data[i].item_price+'</span>');
				let nameText = data[i].item_name;
				if(nameText!=null&&nameText.length > 8){
					nameText.substring(0,8);
					nameText+="...";
				}
				let nameStrong = $('<strong class="itemName">'+nameText+'</strong>');
				let secondDiv = $('<div class="desc"></div>');
				secondDiv.append(nameStrong);
				secondDiv.append(priceSpan);
				secondDiv.append(firstDiv);
				let img = new Image();
				img.className = "item-thumbnail";
				img.id = "image-"+data[i].item_main_image;
				$.get("/item/"+data[i].item_id+"/image/"+data[i].item_main_image).done((result)=>{
					$('#image-'+result[0].image_id).attr("src",result[0].thumb_url);
				});
				let holderA = $('<a href="/post/'+data[i].item_id+'"></a>');
				holderA.append(img);
				holderA.append(secondDiv);
				let holderDiv = $('<div class="span4-inner"></div>');
				holderDiv.append(holderA);
				let holderArticle = $('<article class="col-sm-4"></article>');
				holderArticle.append(holderDiv);
				$('#holder').append(holderArticle);
			}
		}).fail(()=>{
			alert("상품 리스트 불러오기 실패");
		});
	};
	loadList();
	const onPageUp = ()=>{
		page++;
		loadList();
	}

	const onPageDown = ()=>{
		if(page>0){
			page--;
		}else{
			alert("첫 페이지 입니다.");
		}
		loadList();
	}
	</script>
<% include footer.html.ejs %>
