<% include header.html.ejs %>
	<section class="container" style="margin-top: 80px;" id="main-page-wrapper">
		<div class="row">
			<article class="col-sm-4">
				<div class="span4-inner">
					<a href="#">
						<img src="https://cdn.shopify.com/s/files/1/0787/5255/products/Bando_complimentpencilset-bts16.jpg?v=1525806099" alt="" class="item-thumbnail" />
						<div class="desc">
							<strong class="item-name">지우개연필</strong>
							<span class="item-price">₩2,500</span>
							<div class="selling-info">
								<span class="seller-name">Seller</span>
								<span> | </span>
								<span class="reg-datetime">2018.06.01 12:12:12</span>
							</div>
						</div>
					</a>
				</div>
			</article>
			<article class="col-sm-4">
				<div class="span4-inner">
					<a href="#">
						<img src="https://cdn.shopify.com/s/files/1/0787/5255/products/Bando_complimentpencilset-bts16.jpg?v=1525806099" alt="" class="item-thumbnail" />
						<div class="desc">
							<strong class="item-name">지우개연필</strong>
							<span class="item-price">₩2,500</span>
							<div class="selling-info">
								<span class="seller-name">Seller</span>
								<span> | </span>
								<span class="reg-datetime">2018.06.01 12:12:12</span>
							</div>
						</div>
					</a>
				</div>
			</article>
			<article class="col-sm-4">
				<div class="span4-inner">
					<a href="#">
						<img src="https://cdn.shopify.com/s/files/1/0787/5255/products/Bando_complimentpencilset-bts16.jpg?v=1525806099" alt="" class="item-thumbnail" />
						<div class="desc">
							<strong class="item-name">지우개연필</strong>
							<span class="item-price">₩2,500</span>
							<div class="selling-info">
								<span class="seller-name">Seller</span>
								<span> | </span>
								<span class="reg-datetime">2018.06.01 12:12:12</span>
							</div>
						</div>
					</a>
				</div>
			</article>
			<article class="col-sm-4">
				<div class="span4-inner">
					<a href="#">
						<img src="https://cdn.shopify.com/s/files/1/0787/5255/products/Bando_complimentpencilset-bts16.jpg?v=1525806099" alt="" class="item-thumbnail" />
						<div class="desc">
							<strong class="item-name">지우개연필</strong>
							<span class="item-price">₩2,500</span>
							<div class="selling-info">
								<span class="seller-name">Seller</span>
								<span> | </span>
								<span class="reg-datetime">2018.06.01 12:12:12</span>
							</div>
						</div>
					</a>
				</div>
			</article>
			<article class="col-sm-4">
				<div class="span4-inner">
					<a href="#">
						<img src="https://cdn.shopify.com/s/files/1/0787/5255/products/Bando_complimentpencilset-bts16.jpg?v=1525806099" alt="" class="item-thumbnail" />
						<div class="desc">
							<strong class="item-name">지우개연필</strong>
							<span class="item-price">₩2,500</span>
							<div class="selling-info">
								<span class="seller-name">Seller</span>
								<span> | </span>
								<span class="reg-datetime">2018.06.01 12:12:12</span>
							</div>
						</div>
					</a>
				</div>
			</article>
			<article class="col-sm-4">
				<div class="span4-inner">
					<a href="#">
						<img src="https://cdn.shopify.com/s/files/1/0787/5255/products/Bando_complimentpencilset-bts16.jpg?v=1525806099" alt="" class="item-thumbnail" />
						<div class="desc">
							<strong class="item-name">지우개연필</strong>
							<span class="item-price">₩2,500</span>
							<div class="selling-info">
								<span class="seller-name">Seller</span>
								<span> | </span>
								<span class="reg-datetime">2018.06.01 12:12:12</span>
							</div>
						</div>
					</a>
				</div>
			</article>
			<article class="col-sm-4">
				<div class="span4-inner">
					<a href="#">
						<img src="https://cdn.shopify.com/s/files/1/0787/5255/products/Bando_complimentpencilset-bts16.jpg?v=1525806099" alt="" class="item-thumbnail" />
						<div class="desc">
							<strong class="item-name">지우개연필</strong>
							<span class="item-price">₩2,500</span>
							<div class="selling-info">
								<span class="seller-name">Seller</span>
								<span> | </span>
								<span class="reg-datetime">2018.06.01 12:12:12</span>
							</div>
						</div>
					</a>
				</div>
			</article>
			<article class="col-sm-4">
				<div class="span4-inner">
					<a href="#">
						<img src="https://cdn.shopify.com/s/files/1/0787/5255/products/Bando_complimentpencilset-bts16.jpg?v=1525806099" alt="" class="item-thumbnail" />
						<div class="desc">
							<strong class="item-name">지우개연필</strong>
							<span class="item-price">₩2,500</span>
							<div class="selling-info">
								<span class="seller-name">Seller</span>
								<span> | </span>
								<span class="reg-datetime">2018.06.01 12:12:12</span>
							</div>
						</div>
					</a>
				</div>
			</article>
			<article class="col-sm-4">
				<div class="span4-inner">
					<a href="#">
						<img src="https://cdn.shopify.com/s/files/1/0787/5255/products/Bando_complimentpencilset-bts16.jpg?v=1525806099" alt="" class="item-thumbnail" />
						<div class="desc">
							<strong class="item-name">지우개연필</strong>
							<span class="item-price">₩2,500</span>
							<div class="selling-info">
								<span class="seller-name">Seller</span>
								<span> | </span>
								<span class="reg-datetime">2018.06.01 12:12:12</span>
							</div>
						</div>
					</a>
				</div>
			</article>
		</div>
	</section>
<% include footer.html.ejs %>
