<% include header.html.ejs %>
    <div id="search-page-wrapper">
      <div id="content">
      <section>
        <div id="sort">
          <ul id="sortItems">
            <li class="sortItem" onclick="setPrice('asc')">저가우선</li>
            <li class="sortItem" onclick="setPrice('desc')">고가우선</li>
            <li class="sortItem" onclick="setDate('desc')">최신순</li>
            <li class="sortItem" onclick="setDate('asc')">오래된순</li>
          </ul>
        </div>
        <div id="filter">
          <ul id="filterItems">
            <li class="filterItem" onclick="setCategory(true)">카테고리 일치</li>
            <li class="filterItem" onclick="setCategory(false)">상품명 일치</li>
          </ul>
        </div>
        <ul id="articleSection">
        </ul>
        <button onclick="onPageDown()">이전 페이지</button>
        <button onclick="onPageUp()">다음 페이지</button>
      </section>
      </div>
    </div>
    <script>
    const itemName = <%- '"'+query.item_name+'"' %>; //query인자 값 받기
    let page = 0;
    let price = null;
    let date = null;
    let category = false;

    //이름으로 로드하기 네임은 키값 프라이스랑 데이트는 asc와 desc를 지원 page는 페이지네이션
    const loadListByName = ()=>{
      $.get("/item",{
        item_name:itemName,
        item_price:price,
        item_time:date,
        start:page*6,
        count:6
      }).done((data)=>{
        $('#articleSection').empty();
        for(let i= 0;i<data.length;i++){
				  let currentTime = new Date(data[i].item_time); //local시간으로 변환
          let dateDiv = $('<div class="itemDate">'+(data[i].item_state=='D'?"거래중":"판매중")+"&nbsp&nbsp"+currentTime.toString().substring(11,currentTime.toString().length-17)+'</div>');
          let userDiv = $('<div class="itemUser">'+"이름 로드실패"+'</div>');
          $.get("/user/"+data[i].owner_id).done((result)=>{
            let str = result[0].user_id;
            if(str.length>6){
              str = str.substring(0, 6);
              str+="..."
            }
            userDiv.html(str);
          });
          let firstDiv = $('<div></div>');
          let priceDiv = $('<div class="itemPrice">'+data[i].item_price+'</div>');
          let nameText = data[i].item_name;
          if(nameText.length > 8){
            nameText.substring(0,8);
            nameText+="...";
          }
          let nameDiv = $('<div class="itemName">'+nameText+'</div>');
          firstDiv.append(nameDiv);
          firstDiv.append(priceDiv);
          let secondDiv = $('<div></div>');
          secondDiv.append(userDiv);
          secondDiv.append(dateDiv);
          let itemInfoDiv = $('<div class="itemInfo"></div>');
          itemInfoDiv.append(firstDiv);
          itemInfoDiv.append(secondDiv);
          let articleImgDiv = $('<div class="articleIMG"></div>');
          let img = new Image();
          img.id = "image-"+data[i].item_main_image;
          $.get("/item/"+data[i].item_id+"/image/"+data[i].item_main_image).done((result)=>{
            $('#image-'+result[0].image_id).attr("src",result[0].thumb_url);
          });
          articleImgDiv.append(img);
          let itemArticle = $('<li class="article" onclick="goPost('+data[i].item_id+')"></li>');
          itemArticle.append(articleImgDiv);
          itemArticle.append(itemInfoDiv);
          $('#articleSection').append(itemArticle);
        }
      }).fail(()=>{
        alert("상품 리스트 불러오기 실패");
      });
    };
    loadListByName();

    //카테고리로 로드.
    const loadListByCategory = ()=>{
      $.get("/item",{
        category:itemName,
        item_time:date,
        item_price:price,
        start:page*6,
        count:6
      }).done((data)=>{
        $('#articleSection').empty();
        for(let i= 0;i<data.length;i++){
          let currentTime = new Date(data[i].item_time); //local시간으로 변환
          let dateDiv = $('<div class="itemDate">'+(data[i].item_state=='D'?"거래중":"판매중")+"&nbsp&nbsp"+currentTime.toString().substring(11,currentTime.toString().length-17)+'</div>');
          let userDiv = $('<div class="itemUser" id="'+data[i].owner_id+'-owner">'+"이름 로드실패"+'</div>');
          $.get("/user/"+data[i].owner_id).done((result)=>{
            let str = result[0].user_id;
            if(str.length>6){
              str = str.substring(0, 6);
              str+="..."
            }
            $("#"+result[0].auth_id+"-owner").html(str);
          });
          let firstDiv = $('<div></div>');
          let priceDiv = $('<div class="itemPrice">'+data[i].item_price+'</div>');
          let nameDiv = $('<div class="itemName">'+data[i].item_name+'</div>');
          firstDiv.append(nameDiv);
          firstDiv.append(priceDiv);
          let secondDiv = $('<div></div>');
          secondDiv.append(userDiv);
          secondDiv.append(dateDiv);
          let itemInfoDiv = $('<div class="itemInfo"></div>');
          itemInfoDiv.append(firstDiv);
          itemInfoDiv.append(secondDiv);
          let articleImgDiv = $('<div class="articleIMG"></div>');
          let img = new Image();
          img.id = "image-"+data[i].item_main_image;
          $.get("/item/"+data[i].item_id+"/image/"+data[i].item_main_image).done((result)=>{
            $('#image-'+result[0].image_id).attr("src",result[0].thumb_url);
          });
          articleImgDiv.append(img);
          let itemArticle = $('<li class="article"></li>');
          itemArticle.append(articleImgDiv);
          itemArticle.append(itemInfoDiv);
          $('#articleSection').append(itemArticle);
        }
      }).fail(()=>{
        alert("상품 리스트 불러오기 실패");
      });
    }

    const loadList = ()=>{
      if(category){
        loadListByCategory();
      }else{
        loadListByName();
      }
    }

    const onPageUp = ()=>{
      page++;
      loadList();
    }

    const onPageDown = ()=>{
      if(page>0){
        page--;
      }else{
        alert("첫 페이지 입니다.");
      }
      loadList();
    }

    const setDate = (param)=>{
      date = param;
      price = null;
      loadList();
    }
    const setPrice = (param)=>{
      price = param;
      date = null;
      loadList();
    }

    const setCategory = (param)=>{
      category = param;
      loadList();
    }
    const goPost = (id)=>{
      window.location.replace('/post/'+id);
    }
    </script>
<% include footer.html.ejs %>
