<% include header.html.ejs %>
    <div id="search-page-wrapper">
      <div id="content">
      <section>
        <div id="sort">
          <ul id="sortItems">
            <li class="sortItem">저가우선</li>
            <li class="sortItem">고가우선</li>
            <li class="sortItem">최신순</li>
            <li class="sortItem">오래된순</li>
          </ul>
        </div>
        <div id="filter">
          <ul id="filterItems">
            <li class="filterItem">없음</li>
            <li class="filterItem">카테고리 일치</li>
            <li class="filterItem">상품명 일치</li>
          </ul>
        </div>
        <ul id="articleSection">
          <li class="article">
            <div class="articleIMG"><!--LeaderIMG-->
              <img src="http://placehold.it/270x180">
            </div>
            <div class="itemInfo">
              <div>
                <div class="itemName">
                  Lorem ipsum
                </div>
                <div class="itemPrice">
                  10000 원
                </div>
              </div>
              <div>
                <div class="itemUser">
                  95twan
                </div>
                <div class="itemDate">
                  18-01-01
                </div>
              </div>
            </div>
          </li>
          <li class="article">
            <div class="articleIMG"><!--LeaderIMG-->
              <img src="http://placehold.it/270x180">
            </div>
            <div class="itemInfo">
              <div>
                <div class="itemName">
                  Lorem ipsum
                </div>
                <div class="itemPrice">
                  10000 원
                </div>
              </div>
              <div>
                <div class="itemUser">
                  95twan
                </div>
                <div class="itemDate">
                  18-01-01
                </div>
              </div>
            </div>
          </li>
          <li class="article">
            <div class="articleIMG"><!--LeaderIMG-->
              <img src="http://placehold.it/270x180">
            </div>
            <div class="itemInfo">
              <div>
                <div class="itemName">
                  Lorem ipsum
                </div>
                <div class="itemPrice">
                  10000 원
                </div>
              </div>
              <div>
                <div class="itemUser">
                  95twan
                </div>
                <div class="itemDate">
                  18-01-01
                </div>
              </div>
            </div>
          </li>
        </ul>
      </section>
      </div>
    </div>
<% include footer.html.ejs %>
