<% include header.html.ejs %>
  <section>
    <form id="signup-form" method="post" enctype='application/json' action="/user">
      <input type="text" class="form-control signup-field" name="user_id" placeholder="닉네임" required autofocus>
      <input type="text" class="form-control signup-field" name="phone_num" placeholder="전화번호" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">회원가입</button>
    </form>
  </section>
  <script>
  document.getElementsByTagName("body")[0].style.backgroundColor = "#eee";
  </script>
<% include footer.html.ejs %>
