* {
  margin: 0; padding: 0;
}
body{
  width: 960px;
  margin: 0 auto;
}
#page-wrapper{
  background: white;
  margin: 20px 0; padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}
/*헤더 로고*/
header{
  padding-bottom: 5px;
}
#logo{
  height: 200px;
}
/*네비게이션*/
#navigation{
  border: 1px solid black;
  height: 33px;

}
.input{
  float: left;
  height: 26px;
  padding: 3.5px;
}
.input-search{
  display: block;
  float: left;
  height: 22px;
}
.input-search-submit{
  display: block;
  float: left;
  margin-left: -2px;
  height: 26px;
}
.menu{
  float: right;
}
.menu-title{
  float: left;
  height: 33px;
}
li{
  list-style: none;
}
nav ul li>a{

  display: block;
  text-decoration: none;
  height: 23px;
  border-left: 1px solid black;
  padding: 5px 10px;
  color: black;
}

#content{
  padding: 20px 10px;
  border: 1px solid black;
 overflow: hidden;
}
#sort{
  float: left;
}
.sortItem{
  float: left;
  padding: 0 5px;
  cursor: pointer;
}
.sortItem:nth-child(1){
  border-right: 1px solid black;
}
.sortItem:nth-child(2){
  border-right: 1px solid black;
}
.sortItem:nth-child(3){
  border-right: 1px solid black;
}
#filter{
  float: right;
}
.filterItem{
  float: left;
  padding: 0 5px;
  cursor: pointer;
}
.filterItem:nth-child(1){
  border-right: 1px solid black;
}
.filterItem:nth-child(2){
  border-right: 1px solid black;
}

#articleSection{
  float: left;
  margin-top: 10px;
  padding: 20px 10px;
  width: 876px;
  border: 1px solid black;
}
.article{
  float: left;
  margin-right: 33px;
  margin-bottom: 10px;
}
.article:nth-child(3n){
  margin-right: 0px;;
}
.articleIMG{
  width: 270px;
  height: 180px;
}
.articleIMG img{
  width: 270px;
  height: 180px;
}
.itemInfo{
  overflow: hidden;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.itemName{
  float: left;
  padding: 5px 10px;
}
.itemPrice{
  float: right;
  padding: 5px 10px;
}
.itemUser{
  float: left;
  padding: 5px 10px;
}
.itemDate{
  float: right;
  padding: 5px 10px;
}
